<div class="container">
  <h1>Image Uploader</h1>

  <form method="post" enctype="multipart/form-data" action="/upload">
    <input type="text" name="name"><br>
    <input type="file" name="file"><br>
    <button type="submit">Submit</button>
  </form>

  <div id="result"></div>
  
</div>
